@font-face {
  font-family: 'Sf Pro Display Regular';
  src: url('fonts/SFPRODISPLAYREGULAR.OTF') format('truetype')
}

@font-face {
  font-family: 'Sf Pro Display Medium';
  src: url('fonts/SFPRODISPLAYMEDIUM.OTF') format('truetype')
}

@font-face {
  font-family: 'Sf Pro Display Bold';
  src: url('fonts/SFPRODISPLAYBOLD.OTF') format('truetype')
}


:root {
  --body-width: 100vw;
  --vw: calc(var(--body-width) / 100);
}

@media (min-width: 500px) {
  :root {
    --body-width: calc(100vh * 0.5);
  }

  body {
    width: var(--body-width);
  }
}

* {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}



body {
  background-color: black;
  overflow-x: hidden;
  overscroll-behavior: none;
  height: 100vh;
  margin: 0 auto;
  /* background: #20252C; */
  /* scrollbar-width: none; */
  /* -ms-overflow-style: none; */
}

body,
html {
  background: #20252C;
}
/* body::-webkit-scrollbar {
  display: none;
}

html {
  overflow-x: hidden;
  overflow: hidden;
} */

/* html {
  background: rgb(46, 46, 46);
} */

/* .header,
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100 / 428 * 376 * var(--vw));
  padding: calc(100 / 428 * 12 * var(--vw)) calc(100 / 428 * 26 * var(--vw));
  background: #15181C;
  font-family: 'Sf Pro Display Medium', Arial, sans-serif;
  font-size: calc(100 / 428 * 24 * var(--vw));
  color: #fff;
} */

.header,
.bottom {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: calc(100 / 428 * 8 * var(--vw)); 
  width: calc(100 / 428 * 412 * var(--vw));
  margin: calc(100 / 428 * 16 * var(--vw)) calc(100 / 428 * 8 * var(--vw)) calc(100 / 428 * 8 * var(--vw)) calc(100 / 428 * 8 * var(--vw));
  font-family: 'Sf Pro Display Bold', Arial, sans-serif;
  font-size: calc(100 / 428 * 24 * var(--vw));
  color: #fff;
  


  /* box-shadow: 0 0 calc(100 / 428 * 16 * var(--vw)) calc(100 / 428 * 4 * var(--vw)) rgba(0, 0, 0, 1); */
  /* clip-path: inset(0 0 calc(-15 * var(--vw)) 0); */
  /* border-bottom-left-radius: calc(100 / 428 * 16 * var(--vw)); */
  /* border-bottom-right-radius: calc(100 / 428 * 16 * var(--vw)); */
}
/* .bottom {
  bottom: 0
} */
.header {
  justify-content: space-between;
  /* gap: 0; */
}

.bottom svg {
  width: calc(100 / 428 * 24 * var(--vw));
  height: calc(100 / 428 * 24 * var(--vw));
  fill: #15181C
}

.bottom div {
  display: flex;
  align-items: center;
  gap: calc(100 / 428 * 4 * var(--vw));
  background: rgb(170, 187, 204);
  padding: calc(100 / 428 * 4 * var(--vw)) calc(100 / 428 * 16 * var(--vw));
  border-radius:  calc(100 / 428 * 16 * var(--vw));
  color: #15181C;
}












.points {
  display: flex;
  align-items: center;
  gap: calc(100 / 428 * 8 * var(--vw));
  justify-content: center;
  margin-top: auto;
}

.points:nth-child(32) {
  padding-bottom: calc(100 / 428 * 128 * var(--vw));
}

.points div {
  aspect-ratio: 1 / 1;
  height: calc(100 / 428 * 24 * var(--vw));
  border-radius: calc(100 / 428 * 12 * var(--vw));
  transition: aspect-ratio .25s ease;
}


.points div:nth-child(1) {
  background: #960000;
}

.points div:nth-child(2) {
  background: #969600;
}

.points div:nth-child(3) {
  background: #007d00;
}

.points div.select {
  aspect-ratio: 5 / 1;
}

































.categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: calc(100 / 428 * 12 * var(--vw));
  column-gap: calc(100 / 428 * 8 * var(--vw));
  width: calc(100 / 428 * 412 * var(--vw));
  margin: 0 calc(100 / 428 * 8 * var(--vw));
}

.category {
  display: flex;
  flex-direction: column;
  background: #15181C;
  /* height: calc(100 / 428 * 16 * var(--vw)); */
  padding: calc(100 / 428 * 8 * var(--vw));
  border-radius: calc(100 / 428 * 8 * var(--vw));
}

.title {
  font-family: 'Sf Pro Display Medium', Arial, sans-serif;
  font-size: calc(100 / 428 * 20 * var(--vw));
  color: #fff;
}

.description {
  font-family: 'Sf Pro Display Regular', Arial, sans-serif;
  font-size: calc(100 / 428 * 16 * var(--vw));
  color: rgb(170, 187, 204);
  margin-bottom: calc(100 / 428 * 4 * var(--vw));
}